div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.swal-footer {
  overflow: auto;
}

.swal-button-container {
  float: right;
}

input {
  text-align: center;
}
